<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/public/css/todo.css">
</head>
<body>
  day la trang todo
  <div class="addList">
    <input type="text" name="" id="name" placeholder="name"> <br>
    <textarea name="" id="description" cols="30" rows="3" placeholder="description"></textarea>
    <br>
    <select name="" id="status">
      <option value="todo">todo</option>
      <option value="doing">doing</option>
      <option value="done">done</option>
    </select> 
    <br>
    <input type="date" name="" id="deadline"> <br>
    <button onclick="createJob()">create</button>
  </div>

  <div class="list">
    <div class="todo">
      <h2>Todo</h2>
      <div class="todo-list">
        
      </div>
    </div>

    <div class="doing">
      <h2>Doing</h2>
      <div class="doing-list"></div>

    </div>
    <div class="done">
      <h2>Done</h2>
      <div class="done-list"></div>
    </div>
  </div>
</body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/public/js/todo.js"></script>
</html>